.post-thumbnail {
  padding-bottom: 56.25%;
}

.post-thumbnail .wpst-trailer,
.post-thumbnail img {
  object-fit: fill;
}

.video-debounce-bar {
  background: #bc9b1f !important;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.label,
.label:visited,
.pagination ul li a,
.widget_categories ul li a,
.comment-reply-link,
a.tag-cloud-link,
.template-actors li a {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a62b2b2b', endColorstr='#00000000', GradientType=0);
  -moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea,
.wp-editor-container {
  -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3), 0 0 5px black inset;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3), 0 0 5px black inset;
  -o-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3), 0 0 5px black inset;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.3), 0 0 5px black inset;
}

#site-navigation {
  background: #222222;
  background: -moz-linear-gradient(
    top,
    #222222 0%,
    #333333 50%,
    #222222 51%,
    #151515 100%
  );
  background: -webkit-linear-gradient(
    top,
    #222222 0%,
    #333333 50%,
    #222222 51%,
    #151515 100%
  );
  background: linear-gradient(
    to bottom,
    #222222 0%,
    #333333 50%,
    #222222 51%,
    #151515 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#151515', GradientType=0);
  -moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.12);
}

#site-navigation > ul > li:hover > a,
#site-navigation ul li.current-menu-item a {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a62b2b2b', endColorstr='#00000000', GradientType=0);
  -moz-box-shadow: inset 0px 0px 2px 0px #000000;
  -webkit-box-shadow: inset 0px 0px 2px 0px #000000;
  -o-box-shadow: inset 0px 0px 2px 0px #000000;
  box-shadow: inset 0px 0px 2px 0px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=2);
}

.rating-bar,
.categories-list .thumb-block .entry-header,
.actors-list .thumb-block .entry-header,
#filters .filters-select,
#filters .filters-options {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  -moz-box-shadow: inset 0px 0px 2px 0px #000000;
  -webkit-box-shadow: inset 0px 0px 2px 0px #000000;
  -o-box-shadow: inset 0px 0px 2px 0px #000000;
  box-shadow: inset 0px 0px 2px 0px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=2);
}

.breadcrumbs-area {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}

.site-title a {
  font-family: Open Sans;
  font-size: 36px;
}

.site-branding .logo img {
  max-width: 150px;
  max-height: 120px;
  margin-top: 0px;
  margin-left: 0px;
}

a,
.site-title a i,
.thumb-block:hover .rating-bar i,
.categories-list .thumb-block:hover .entry-header .cat-title:before,
.required,
.like #more:hover i,
.dislike #less:hover i,
.top-bar i:hover,
.main-navigation .menu-item-has-children > a:after,
.menu-toggle i,
.main-navigation.toggled li:hover > a,
.main-navigation.toggled li.focus > a,
.main-navigation.toggled li.current_page_item > a,
.main-navigation.toggled li.current-menu-item > a,
#filters .filters-select:after,
.morelink i,
.top-bar .membership a i,
.thumb-block:hover .photos-count i {
  color: #bc9b1f;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.label,
.pagination ul li a.current,
.pagination ul li a:hover,
body #filters .label.secondary.active,
.label.secondary:hover,
.main-navigation li:hover > a,
.main-navigation li.focus > a,
.main-navigation li.current_page_item > a,
.main-navigation li.current-menu-item > a,
.widget_categories ul li a:hover,
.comment-reply-link,
a.tag-cloud-link:hover,
.template-actors li a:hover {
  border-color: #bc9b1f !important;
  background-color: #bc9b1f !important;
}

.rating-bar-meter,
.vjs-play-progress,
#filters .filters-options span:hover,
.bx-wrapper .bx-controls-direction a,
.top-bar .social-share a:hover,
.thumb-block:hover span.hd-video,
.featured-carousel .slide a:hover span.hd-video,
.appContainer .ctaButton {
  background-color: #bc9b1f !important;
}

#video-tabs button.tab-link.active,
.title-block,
.widget-title,
.page-title,
.page .entry-title,
.comments-title,
.comment-reply-title,
.morelink:hover {
  border-color: #bc9b1f !important;
}

/* Small desktops ----------- */
@media only screen and (min-width: 64.001em) and (max-width: 84em) {
  #main .thumb-block {
    width: 25% !important;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 84.001em) {
  #main .thumb-block {
    width: 25% !important;
  }
}

body .adde_modal_detector {
  background-color: #222;
  color: #eee;
}

body .adde_modal_detector-title {
  color: #fff;
}

body .adde_modal_detector-action-btn-refresh {
  background-color: #d10d12 !important;
}

body .adde_modal_detector-action-btn-refresh:hover {
  background-color: rgba(209, 13, 18, 0.8) !important;
}

body .adde_modal_detector-action-btn-close {
  background-color: #b7f201 !important;
}

body .adde_modal_detector-action-btn-close:hover {
  background-color: rgba(183, 242, 1, 0.8) !important;
}
